*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/src/debug/res/values/google_maps_api.xml
app/release/app-release.aab
app/src/release/res/values/google_maps_api.xml
/.idea/
