<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fnsb.macstransit">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <!--
            The API key should be set in the file local.properties
            at the root of your project under the key MAPS_API_KEY
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".activities.mapsactivity.MapsActivity"
            android:launchMode="standard"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/settings"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".activities.loadingactivity.LoadingActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:exported="true"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>